In [1]:
import pandas as pd

In [2]:
queries = pd.read_csv("Summer Camp Task Data.csv")

In [3]:
queries.head()

,action,created_at,source_event_id,device_id,post_page_offset,tokens,post_index_in_post_list,post_token
0,load_post_page,1.609550e+12,1575558c-a702-46ef-8e18-bc5cef761473,Ed9EADRZRXCHcrcEP_Hnkg,26.0,"[wXvP3enu, wXvHXzUS, wXvPHXVe, wXvPHRs3, wXvH3...",NaN,NaN
1,load_post_page,1.609550e+12,0fd004f4-ce9b-4766-ac96-7578dedebacb,5aVIp_PNSAWxqwBETYpmxQ,19.0,"[wXujANbk, wXurAJsf, wXufwlh1, wXtr_4tD, wXujg...",NaN,NaN
2,load_post_page,1.609550e+12,479905f2-3bb4-4c90-8e88-5ce4b60d0a73,mt0UAT4AQe2dECdXBvKYBA,0.0,"[wXvHbNqU, wXvDrof9, wXv_aXHk, wXvDrSIa, wXv_a...",NaN,NaN
3,load_post_page,1.609550e+12,b9b609bd-a486-42fb-b1a9-5ca03cf4a215,huSKUX-mSwyUcGzgSbXX6g,0.0,"[wXvb7cpv, wXvH3hL0, wXvjmDaE, wXvT0sOS, wXv_j...",NaN,NaN
4,load_post_page,1.609550e+12,6c390fce-34b6-4e19-837e-6bc295a72514,sL5fLDdoR9a7aDGPP8N-jA,1.0,"[wXvjJTIc, wXvb5_SX, wXvb54Gs, wXvb5t6J, wXvbJ...",NaN,NaN

In [4]:
queries.describe()

         created_at  post_page_offset  post_index_in_post_list
count  1.110830e+05      35287.000000             75796.000000
mean   1.609546e+12          8.673761               127.616418
std    5.598048e+06         16.059840               272.981195
min    1.609460e+12          0.000000                 1.000000
25%    1.609540e+12          0.000000                11.000000
50%    1.609550e+12          3.000000                41.000000
75%    1.609550e+12          9.000000               124.000000
max    1.609630e+12        161.000000              5176.000000

In [5]:
queries.isnull().sum()

action                         0
created_at                     0
source_event_id                0
device_id                      0
post_page_offset           75796
tokens                     75796
post_index_in_post_list    35287
post_token                 35287
dtype: int64

In [6]:
queries.loc[queries.action == "load_post_page"].isnull().sum()

action                         0
created_at                     0
source_event_id                0
device_id                      0
post_page_offset               0
tokens                         0
post_index_in_post_list    35287
post_token                 35287
dtype: int64

In [7]:
queries.loc[queries.action == "click_post"].isnull().sum()

action                         0
created_at                     0
source_event_id                0
device_id                      0
post_page_offset           75796
tokens                     75796
post_index_in_post_list        0
post_token                     0
dtype: int64

# tokens type and len column

In [8]:
queries.loc[queries.action == "load_post_page","tokens"] = queries.loc[queries.action == "load_post_page"].tokens.apply(lambda df: list(df[1:-1].split(", ")))

In [9]:
type(queries.loc[1,"tokens"])

list

In [10]:
queries["len"] = 0

In [11]:
queries.loc[queries.action == "load_post_page","len"] = queries.loc[queries.action == "load_post_page","tokens"].apply(lambda x: len(x))

In [12]:
queries.head()

,action,created_at,source_event_id,device_id,post_page_offset,tokens,post_index_in_post_list,post_token,len
0,load_post_page,1.609550e+12,1575558c-a702-46ef-8e18-bc5cef761473,Ed9EADRZRXCHcrcEP_Hnkg,26.0,"[wXvP3enu, wXvHXzUS, wXvPHXVe, wXvPHRs3, wXvH3...",NaN,NaN,24
1,load_post_page,1.609550e+12,0fd004f4-ce9b-4766-ac96-7578dedebacb,5aVIp_PNSAWxqwBETYpmxQ,19.0,"[wXujANbk, wXurAJsf, wXufwlh1, wXtr_4tD, wXujg...",NaN,NaN,24
2,load_post_page,1.609550e+12,479905f2-3bb4-4c90-8e88-5ce4b60d0a73,mt0UAT4AQe2dECdXBvKYBA,0.0,"[wXvHbNqU, wXvDrof9, wXv_aXHk, wXvDrSIa, wXv_a...",NaN,NaN,24
3,load_post_page,1.609550e+12,b9b609bd-a486-42fb-b1a9-5ca03cf4a215,huSKUX-mSwyUcGzgSbXX6g,0.0,"[wXvb7cpv, wXvH3hL0, wXvjmDaE, wXvT0sOS, wXv_j...",NaN,NaN,24
4,load_post_page,1.609550e+12,6c390fce-34b6-4e19-837e-6bc295a72514,sL5fLDdoR9a7aDGPP8N-jA,1.0,"[wXvjJTIc, wXvb5_SX, wXvb54Gs, wXvb5t6J, wXvbJ...",NaN,NaN,24

In [13]:
queries.post_page_offset = queries.post_page_offset.fillna(-1)
queries.post_index_in_post_list = queries.post_index_in_post_list.fillna(-1)

In [14]:
queries.post_page_offset = queries.post_page_offset.astype('int')
queries.post_index_in_post_list = queries.post_index_in_post_list.astype('int')

In [15]:
queries.head()

,action,created_at,source_event_id,device_id,post_page_offset,tokens,post_index_in_post_list,post_token,len
0,load_post_page,1.609550e+12,1575558c-a702-46ef-8e18-bc5cef761473,Ed9EADRZRXCHcrcEP_Hnkg,26,"[wXvP3enu, wXvHXzUS, wXvPHXVe, wXvPHRs3, wXvH3...",-1,NaN,24
1,load_post_page,1.609550e+12,0fd004f4-ce9b-4766-ac96-7578dedebacb,5aVIp_PNSAWxqwBETYpmxQ,19,"[wXujANbk, wXurAJsf, wXufwlh1, wXtr_4tD, wXujg...",-1,NaN,24
2,load_post_page,1.609550e+12,479905f2-3bb4-4c90-8e88-5ce4b60d0a73,mt0UAT4AQe2dECdXBvKYBA,0,"[wXvHbNqU, wXvDrof9, wXv_aXHk, wXvDrSIa, wXv_a...",-1,NaN,24
3,load_post_page,1.609550e+12,b9b609bd-a486-42fb-b1a9-5ca03cf4a215,huSKUX-mSwyUcGzgSbXX6g,0,"[wXvb7cpv, wXvH3hL0, wXvjmDaE, wXvT0sOS, wXv_j...",-1,NaN,24
4,load_post_page,1.609550e+12,6c390fce-34b6-4e19-837e-6bc295a72514,sL5fLDdoR9a7aDGPP8N-jA,1,"[wXvjJTIc, wXvb5_SX, wXvb54Gs, wXvb5t6J, wXvbJ...",-1,NaN,24

# Overview of data

In [16]:
queries.action.unique()

array(['load_post_page', 'click_post'], dtype=object)

In [17]:
queries.loc[queries.action == "click_post"].head()

,action,created_at,source_event_id,device_id,post_page_offset,tokens,post_index_in_post_list,post_token,len
5429,click_post,1.609550e+12,be60130c-a660-4e23-954d-9bcf08377b24,VVaoaGZQQcysup51b96xFQ,-1,NaN,3,wXq3yGW3,0
5430,click_post,1.609550e+12,7cb93ab5-e0ec-4d5a-9245-b2e3ad87b9c3,kMPcgmnnRzGoVRomPVRz9A,-1,NaN,267,wXrn2a0w,0
5431,click_post,1.609540e+12,461e9683-e679-4448-bee3-d0b07353ab5d,bjiXJIm6RaWaw_7ASh5Gdw,-1,NaN,6,wXv7xXEj,0
5432,click_post,1.609540e+12,969745e6-25e5-46af-8c1b-f506429944f6,odyBXuz3Qn2-gmdEX-_ZOg,-1,NaN,17,wXnnSi0l,0
5433,click_post,1.609550e+12,5c422ed2-c7d5-4653-ac9c-1e2e890b97b5,_lgH2bn7Ty-6DuxrClGKUw,-1,NaN,174,wXqv95zt,0

In [18]:
queries.loc[queries.action != "click_post"].head()

,action,created_at,source_event_id,device_id,post_page_offset,tokens,post_index_in_post_list,post_token,len
0,load_post_page,1.609550e+12,1575558c-a702-46ef-8e18-bc5cef761473,Ed9EADRZRXCHcrcEP_Hnkg,26,"[wXvP3enu, wXvHXzUS, wXvPHXVe, wXvPHRs3, wXvH3...",-1,NaN,24
1,load_post_page,1.609550e+12,0fd004f4-ce9b-4766-ac96-7578dedebacb,5aVIp_PNSAWxqwBETYpmxQ,19,"[wXujANbk, wXurAJsf, wXufwlh1, wXtr_4tD, wXujg...",-1,NaN,24
2,load_post_page,1.609550e+12,479905f2-3bb4-4c90-8e88-5ce4b60d0a73,mt0UAT4AQe2dECdXBvKYBA,0,"[wXvHbNqU, wXvDrof9, wXv_aXHk, wXvDrSIa, wXv_a...",-1,NaN,24
3,load_post_page,1.609550e+12,b9b609bd-a486-42fb-b1a9-5ca03cf4a215,huSKUX-mSwyUcGzgSbXX6g,0,"[wXvb7cpv, wXvH3hL0, wXvjmDaE, wXvT0sOS, wXv_j...",-1,NaN,24
4,load_post_page,1.609550e+12,6c390fce-34b6-4e19-837e-6bc295a72514,sL5fLDdoR9a7aDGPP8N-jA,1,"[wXvjJTIc, wXvb5_SX, wXvb54Gs, wXvb5t6J, wXvbJ...",-1,NaN,24

In [19]:
len(queries.device_id.unique())

5013

In [20]:
len(queries.source_event_id.unique())

14296

In [22]:
queries.loc[queries.len != 24].head()

,action,created_at,source_event_id,device_id,post_page_offset,tokens,post_index_in_post_list,post_token,len
6,load_post_page,1.609550e+12,576278e1-9af0-4ed9-95c8-09a6b6c2e958,TVDfsdqOS1eqxuUm2EHe6g,0,"[wXr_DuyQ, wXpr43e5, wXl_rC8t, wXkLrzBv, wXV7M...",-1,NaN,10
32,load_post_page,1.609550e+12,c38f238c-83dc-4b18-a928-728fe8947608,VszFqQDyS4WmwuBF6pYU7A,0,"[wXrLw3_f, wXnf6zpr, wXk3doU-, wXkjcLjv, wXTLC...",-1,NaN,8
33,load_post_page,1.609540e+12,ea658b82-c5cf-4b2a-957a-3f2fb6b91fab,oYxF1k4UT2yggpprUyUTlg,0,"[wX4tAmXm, wX1Jmy5h, wXeSEm3B, wXVD7SNe, wXrO3...",-1,NaN,7
57,load_post_page,1.609550e+12,e3ad3505-c716-41cd-8df0-b7559a7501c7,JD6SPf7DRAysn8PRCvQT3g,1,"[wXdjs38e, wXcX25yp, wXWDQayT, wXXnhvgk, wXUrX...",-1,NaN,7
67,load_post_page,1.609550e+12,0a951231-3f7d-47c2-bd1f-8f6899007584,fUIvCCkJTXSGg4wgh89mVA,27,"[wXKvDwfH, wXK7iQH8, wXKnBWlR, wXBXh1G9, wXKbw...",-1,NaN,21

In [23]:
queries.len.unique()

array([24, 10,  8,  7, 21, 11,  4,  3, 20, 23,  1,  5,  2, 19, 17, 12,  6,
        9, 15, 13, 14, 16, 22, 18,  0], dtype=int64)

In [24]:
pt_len = queries.loc[queries.action != "load_post_page","post_token"].apply(lambda x: len(x))

In [25]:
pt_len.unique()

array([8, 9, 6], dtype=int64)

In [26]:
pt_len.loc[pt_len != 8]

12707     9
13931     9
16984     9
20191     9
20940     9
21057     9
24080     9
27693     9
30048     9
32715     9
41205     6
45968     9
48534     9
51464     9
56618     9
61784     9
72514     9
73627     9
74114     9
76747     9
77491     9
95728     9
104023    9
105354    9
106232    9
Name: post_token, dtype: int64

In [27]:
queries.loc[41205]

action                                               click_post
created_at                                          1.60955e+12
source_event_id            7ef56e51-cdb6-40dc-9615-61f6e9c54fd1
device_id                                jAkoL7h7SlSJRPlxfmtnDg
post_page_offset                                             -1
tokens                                                      NaN
post_index_in_post_list                                      22
post_token                                               #NAME?
len                                                           0
Name: 41205, dtype: object

In [28]:
di = queries.loc[queries.action == "load_post_page","device_id"].apply(lambda x: len(x))

In [29]:
di.unique()

array([22,  6], dtype=int64)

In [30]:
di.loc[di != 22]

30        6
49        6
59        6
168       6
211       6
         ..
110903    6
110918    6
110922    6
111027    6
111079    6
Name: device_id, Length: 509, dtype: int64

In [31]:
queries.iloc[111079]

action                                                        load_post_page
created_at                                                       1.60955e+12
source_event_id                         14282fc7-f431-43b6-8c07-423f33be3d74
device_id                                                             #NAME?
post_page_offset                                                           1
tokens                     [wXYr2lVk, wXXj7iDP, wXXXIsQr, wXQbXKz6, wXN3t...
post_index_in_post_list                                                   -1
post_token                                                               NaN
len                                                                       13
Name: 111079, dtype: object

# Q2

# Q2 == Part 1

In [32]:
dark_queries = queries.loc[queries.action == "load_post_page"].groupby("source_event_id").len.sum()

In [33]:
dark_queries

source_event_id
00049ef3-c027-4f55-869c-46711f0ea0ad     24
00069dda-4175-4bb0-8ef0-c0e1031d4da6     24
0017c208-e016-4231-a022-598ba020f1ff    168
002222cf-9e4b-4432-9e36-ad500a753850     24
004dc60d-2288-453f-bcda-1ad5e8d8211f     25
                                       ...
ffda8068-9c22-46f0-971e-6b2b19c764ea    216
ffeaa17f-ee79-4f42-be58-afd60a5aef37     48
ffec4e11-c0a1-4fa4-8613-0979d6f46918    528
ffef6048-9db0-4244-9750-3b530552f0ec    840
fffc83a5-3f35-4cfe-bb4d-e1b9bf709860     24
Name: len, Length: 9381, dtype: int64

In [34]:
dark_queries.loc[dark_queries < 10]

source_event_id
005d3801-cbd8-4432-be02-3b85c10f6938    2
009e2d57-d038-4268-9ec4-d021e6894667    7
00da5fcb-4246-4b82-a9b2-081810d52c07    3
00f30b06-7303-44a8-9623-ad4144d8200b    3
00fad06c-a499-41f9-8cea-84441e09b7fb    7
                                       ..
fe698e47-7e9e-43c6-bda4-43446ad25105    8
feda3b8c-1c37-413c-9434-74a9c05e2f87    1
ff8f1058-b437-494c-8dde-792325cd30fd    1
ffbc107f-45f5-4dcf-b496-ce421de644a4    3
ffd0cb32-0cd6-44d3-ad02-b87b764a47dd    2
Name: len, Length: 1138, dtype: int64

In [35]:
dark_query_percent = len(dark_queries.loc[dark_queries < 10]) / len(queries.source_event_id.unique())

In [36]:
dark_query_percent *= 100

In [37]:
dark_query_percent

7.960268606603246

# Q2 == Part 2

In [38]:
clicked_percent = len(queries.loc[queries.action == "click_post"].source_event_id.unique()) / len(queries.source_event_id.unique())

In [39]:
query_bounce_rate = 1 - clicked_percent

In [40]:
query_bounce_rate *= 100

In [41]:
query_bounce_rate

24.314493564633466

# Q3

# Q3 == Part 1

In [42]:
clicked = queries.loc[queries.action == "click_post"].groupby(["source_event_id"]).source_event_id.count()

In [43]:
loaded = queries.loc[queries.action == "load_post_page"].groupby("source_event_id").len.sum()

In [44]:
loaded

source_event_id
00049ef3-c027-4f55-869c-46711f0ea0ad     24
00069dda-4175-4bb0-8ef0-c0e1031d4da6     24
0017c208-e016-4231-a022-598ba020f1ff    168
002222cf-9e4b-4432-9e36-ad500a753850     24
004dc60d-2288-453f-bcda-1ad5e8d8211f     25
                                       ...
ffda8068-9c22-46f0-971e-6b2b19c764ea    216
ffeaa17f-ee79-4f42-be58-afd60a5aef37     48
ffec4e11-c0a1-4fa4-8613-0979d6f46918    528
ffef6048-9db0-4244-9750-3b530552f0ec    840
fffc83a5-3f35-4cfe-bb4d-e1b9bf709860     24
Name: len, Length: 9381, dtype: int64

In [45]:
clicked

source_event_id
00142c59-745c-4004-a955-698ddcf1faa6     4
0016f59f-9fb3-4ab5-ae78-9783314b81fc    10
0017b9ef-5903-40f9-a219-85728eb78436     5
0017c208-e016-4231-a022-598ba020f1ff     4
00240c5c-9d06-4fcd-93f5-93b842fdab63     1
                                        ..
ffdd48fc-4c05-4c75-bf8c-5cd42729d2b8     5
ffe3a1f8-c363-4fbb-af5f-0d244b21aea4     7
ffec4e11-c0a1-4fa4-8613-0979d6f46918     5
ffef31ea-cb4e-4d00-98ca-118df330cdca     2
ffef6048-9db0-4244-9750-3b530552f0ec    43
Name: source_event_id, Length: 10820, dtype: int64

In [46]:
clicked_per_loaded = clicked / loaded

In [47]:
clicked_per_loaded.fillna(0)

source_event_id
00049ef3-c027-4f55-869c-46711f0ea0ad    0.00000
00069dda-4175-4bb0-8ef0-c0e1031d4da6    0.00000
00142c59-745c-4004-a955-698ddcf1faa6    0.00000
0016f59f-9fb3-4ab5-ae78-9783314b81fc    0.00000
0017b9ef-5903-40f9-a219-85728eb78436    0.00000
                                         ...
ffeaa17f-ee79-4f42-be58-afd60a5aef37    0.00000
ffec4e11-c0a1-4fa4-8613-0979d6f46918    0.00947
ffef31ea-cb4e-4d00-98ca-118df330cdca    0.00000
ffef6048-9db0-4244-9750-3b530552f0ec    0.05119
fffc83a5-3f35-4cfe-bb4d-e1b9bf709860    0.00000
Length: 14296, dtype: float64

# Q3 == Part 2

In [48]:
clicked = queries.loc[queries.action == "click_post"]

In [49]:
clicked.head()

,action,created_at,source_event_id,device_id,post_page_offset,tokens,post_index_in_post_list,post_token,len
5429,click_post,1.609550e+12,be60130c-a660-4e23-954d-9bcf08377b24,VVaoaGZQQcysup51b96xFQ,-1,NaN,3,wXq3yGW3,0
5430,click_post,1.609550e+12,7cb93ab5-e0ec-4d5a-9245-b2e3ad87b9c3,kMPcgmnnRzGoVRomPVRz9A,-1,NaN,267,wXrn2a0w,0
5431,click_post,1.609540e+12,461e9683-e679-4448-bee3-d0b07353ab5d,bjiXJIm6RaWaw_7ASh5Gdw,-1,NaN,6,wXv7xXEj,0
5432,click_post,1.609540e+12,969745e6-25e5-46af-8c1b-f506429944f6,odyBXuz3Qn2-gmdEX-_ZOg,-1,NaN,17,wXnnSi0l,0
5433,click_post,1.609550e+12,5c422ed2-c7d5-4653-ac9c-1e2e890b97b5,_lgH2bn7Ty-6DuxrClGKUw,-1,NaN,174,wXqv95zt,0

In [50]:
first_clicked = clicked.groupby("source_event_id").post_index_in_post_list.agg([min])

In [51]:
first_clicked.head()

                                      min
source_event_id
00142c59-745c-4004-a955-698ddcf1faa6    7
0016f59f-9fb3-4ab5-ae78-9783314b81fc    2
0017b9ef-5903-40f9-a219-85728eb78436    5
0017c208-e016-4231-a022-598ba020f1ff    2
00240c5c-9d06-4fcd-93f5-93b842fdab63    1

# Q3 == Part3

In [52]:
diff_avg = clicked.groupby("source_event_id").post_index_in_post_list.agg([max, len])

In [53]:
diff_avg['avg'] = diff_avg['max'] / diff_avg['len']

In [54]:
diff_avg.head()

                                      max  len    avg
source_event_id
00142c59-745c-4004-a955-698ddcf1faa6  181    4  45.25
0016f59f-9fb3-4ab5-ae78-9783314b81fc   23   10   2.30
0017b9ef-5903-40f9-a219-85728eb78436   19    5   3.80
0017c208-e016-4231-a022-598ba020f1ff   43    4  10.75
00240c5c-9d06-4fcd-93f5-93b842fdab63    1    1   1.00